spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jwt_security
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
      host: smtp.gmail.com
      port: 587
      username: myroslavsobchyshyn@gmail.com
      password: glvp istj kmmy wzxn
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true

mapbox:
  api:
    url: https://api.mapbox.com/directions/v5/mapbox/walking
    key: pk.eyJ1IjoibXlyb3NsYXYtc2IiLCJhIjoiY21manU4cTk5MDlsazJ3c2h1dzBndDI3cSJ9.lGxC31foRD3L_EgA8ZTWOQ
